div#footer {
  background-color: #2d3f69;;
  color: white;
  font-size: 12px !important;
}
.main-menu {
  display: block;
  color: white !important;
  background-color: rgba(0, 0, 0, .5);
  padding: 20px 5px;
  border-radius: 10%;
  font-size: 1.5em;
}

.hover-menu {
  display: block;
  width: 100%;
  background-color: black;
  padding: 20px 5px;
  font-size: 1.5;
}